<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web'>
<link rel="stylesheet" href="./styles.css">
<link rel="shortcut icon" type="image/svg" href="/favicon.ico">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script>
<script src='https://www.greensock.com/js/src/utils/SplitText.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js'></script>

<div class="body">
    <div>
        <img src="logo.png" class="logo">
        <div class="login-form">
            <input type="text" class="user-input" id="usercardnumber" value="" placeholder="Nro de tarjeta" oninput="enableLoginBtn(this.value)">
            <div>
                <p class="error-msg" id="error-msg"></p>
            </div>
            <div style="margin-top: 1em;">
                <button id="btn-start" onclick="startStreaming()" type="button" class="button disabledbtn" disabled>Entrar</button>
                <button id="btn-register" type="button" class="button displaynone" onclick="startStreamingRegister()">Registrar</button>
            </div>
        </div>
    </div>
    <div class="hide-window" id="media-window">
        <p onclick="stopStreaming()">x</p>
        <canvas id="capture" width="300" height="190" style="display: none;"></canvas>
        <video id="stream"></video>
    </div>
</div>
<script src="./login.js"></script>