.body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10vh;
}

.login-form {
  text-align: center;
  margin-top: 10px;
  min-width: 400px;
  min-height: 250px;
  background-color: #8d6196;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  box-shadow: 4px 4px 4px lightgray;
  align-self: center;
}

.user-input {
  width: 75%;
  align-self: center;
  margin-bottom: 0.5em;
  border: none;
  padding: 0.7em;
  border-radius: 5px;
}

.userinputerror {
  border: 2px solid #a20000;
}

.error-msg {
  color: #900000;
  font-size: 1em;
  margin: 0px;
}

.button {
  padding: 0.7em;
  margin: 0.5em;
  width: 40%;
  background-color:
  lightblue;
  border-radius: 7px;
  border: none;
  color: #2d4575;
  box-shadow: 3px 3px 3px #5b5656;
}

.disabledbtn {
  opacity: 70%;
}

.displaynone {
  display: none;
}

.media-window {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 10;
}

.media-window > p {
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  color: #0c0c0d;;
  width: 93%;
  margin-top: 2em;
}

.media-window > video {
  align-self: center;
}

.hide-window {
  z-index:  -1;
  display: none;
}